body {
    
    background-color: #FFDE03;
    color: #333;
  
    
}

h1 {
    color: #FF5733;
   
}

.center {
    text-align: center;
}



img {
    max-width: 100%;
    height: auto;
}

#about-me {
    background-color: #4CAF50;
    
    
}

.section {
    
    background-color: #2196F3;
   
    
}

a {
    
    color: #FF9800;
}

a {
   
    color: #FF5722;
}

footer {
    
    text-align: center;
}

footer p {
   
    background-color: #9C27B0;
    color: white;
   
}
